body {
  background: linear-gradient(


  
#808080,
#3fada8

  );
;}
  
  h1 {
    display:flex;
    justify-content: center;
    color: white;
    padding-top: 30px;

  }

  button {
    margin-top: 100px;
    background: white;
   
    
  }
 .container {
   display: flex;
   justify-content: center;
 }

  #firstName {   
    margin-top:5px;
    margin-bottom:5px;
  }
  #firstName:hover{
    background:#FFFF99;
  }
  
  #lastName {
    margin-top:5px;
    margin-bottom:5px; 
  }
  #lastName:hover{
    background-color:#FFFF99;
  }
  
  #age {
    margin-top:5px;
    margin-bottom:5px;
  }
  #age:hover{
    background-color:#FFFF99;
  }
  
  #phoneNumber {
    margin-top:5px;
    margin-bottom:5px;
  }
  #phoneNumber:hover {
    background-color:#FFFF99;
  }
  
  #address {
    margin-top:5px;
    margin-bottom: 20px;
   
  }
  
  #address:hover {
    background-color:#FFFF99;
  }
  
  label[for="firstName"] {
    font-weight:bold;
    color:black;
  }
  
  label[for="lastName"] {
    font-weight:bold;
    color:black;
  }
  
  label[for="age"] {
    font-weight:bold;
    color:black;
  
  }
  
  label[for="phoneNumber"] {
    font-weight:bold;
    color:black;
  }
  
  label[for="address"] {
    font-weight:bold;
    color:black;
  }
  
  img {
  
  width: 90px;
  
  height: 90px;
  
  float: left;
  
  }
  
  #idCard {
  
  background-color:   #f08080 ;
  
  border: 5px solid black;
  
  border-radius:40px;
  
  height: 14em;
  
  width: 25em;
  
  margin-top: 80px;
  
  margin-bottom:95px;
  }
  
  #postFullName{
    font-size: 1.75em;
    float:right;
    margin-right:60px;
    font-family:sans-serif;
  }
  
  #postAge {
    margin-top:100px;
    margin-left:10px;
    font-family:sans-serif;
  }
  
  #postPhoneNumber {
    margin-left:10px;
    font-family:sans-serif;
  }
  
  #postAddress {
    margin-left:10px;
    font-family:sans-serif;
  }