body {
  background: #eedcc7;
  font-family: "Poppins";
}

h1 {
  display: flex;
  justify-content: center;
  color: black;
  padding-top: 30px;
  }

button {
  background-color:#c26760;
  color: white;
  border: solid white;
  border-radius: 1.5rem; 
  padding: 1.2rem 2rem 1.2rem 2rem;
  box-shadow: 0.125rem 0.125rem  0.125rem 0.0625rem rgba(0,0,0,0.1);
}

button:hover {
  background-color: #ad4a42;
  color: white;
  border: solid  white;
}

footer {
  margin-bottom: -3rem;
  padding: 2rem 0 0rem 0;
}

.container {
  display: flex;
  justify-content: center;
 }

#firstName {   
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  }
  
#firstName:hover{
  background: #FFFF99;
  }
  
#lastName {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem; 
  }
#lastName:hover{
  background-color: #FFFF99;
}
 
#age {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
#age:hover{
  background-color:#FFFF99;
}
  
#phoneNumber {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
  
#phoneNumber:hover {
  background-color:#FFFF99;
}
  
#address {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
  
#address:hover {
  background-color: #FFFF99;
}
  
label[for="firstName"] {
  font-style: normal;
  font-weight: bold;
  color: black;
}
  
label[for="lastName"] {
  font-style: normal;
  font-weight: bold;
  color: black;
}
  
label[for="age"] {
  font-style: normal;
  font-weight: bold;
  color: black;
}
  
label[for="phoneNumber"] {
  font-style: normal;
  font-weight: bold;
  color: black;
}
  
label[for="address"] {
  font-style: normal;
  font-weight: bold;
  color: black;
}
  
img {
  width: 6rem;
  height: 6rem;
  float: left;
}
  
#idCard {
  background-color: whitesmoke;
  border: 0.3rem solid whitesmoke;
  border-radius: 3.3rem;
  height: 16rem;
  width: 25rem;
  margin-top: 5.3rem;
  margin-bottom: 8rem;
  box-shadow: 0.125rem 0.125rem  0.125rem 0.0625rem rgba(0,0,0,0.3);
}
  
#postFullName{
  font-size: 1.75em;
  float: right;
  margin-right: 5rem;
  }
  
#postAge {
  margin-top: 7rem;
  margin-left: 1.5rem;
}
  
#postPhoneNumber {
  margin-left: 1.5rem;
}
  
#postAddress {
  margin-left: 1.5rem;
}
